In [3]:
# Import libraries

import pandas as pd
import numpy as np

In [4]:
# Create dataframe 

df = pd.DataFrame({'Sport': ['Football', 'Quadball', 'Pool', 'Snooker'],
                   'Players per team': [11,7,1,1],
                   'Number of balls per match': [1,4,16,22]})

# Display the dataframe
df

      Sport  Players per team  Number of balls per match
0  Football                11                          1
1  Quadball                 7                          4
2      Pool                 1                         16
3   Snooker                 1                         22

In [5]:
# Use lambda function to calculate number of players per match

multiply_by_2 = lambda x: x*2
multiply_by_2 (df['Players per team'])

0    22
1    14
2     2
3     2
Name: Players per team, dtype: int64

In [14]:
# Create a new column to show number of players per match

df['Players per match'] = multiply_by_2(df['Players per team'])

# Display the updated dataframe
df

      Sport  Players per team  Number of balls per match  Players per match
0  Football                11                          1                 22
1  Quadball                 7                          4                 14
2      Pool                 1                         16                  2
3   Snooker                 1                         22                  2

In [18]:
# Create a flag column based on playing area size of each sport

df['Playing area size'] = df['Players per match'].apply(
    lambda x: 'Large' if x > 14 else ('Medium' if x >= 3 else 'Small'))

# Display the updated dataframe
df

,Sport,Players per team,Number of balls per match,Players per match,Playing area size
0,Football,11,1,22,Large
1,Quadball,7,4,14,Medium
2,Pool,1,16,2,Small
3,Snooker,1,22,2,Small